
<div class="container">
<div class="row">
<div class="col s12">
<h4 style="color:purple">Contacts</h4>

</div>
</div>
<div class="row">
<div class="col s12">
{{contact-compo x=model}}
</div>
  <!-- <button {{action "Add"}}>Add Contacts</button> -->
</div>
</div>
