<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Contact Management</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li>{{#link-to "homes"}}Home{{/link-to}}</li>
        <li>{{#link-to "contacts"}}Contacts{{/link-to}}</li>
        <!-- <li>{{#link-to "delete"}}Delete{{/link-to}}</li> -->
      </ul>
    </div>
  </nav>
{{yield}}
